@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  marging-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}

.hide{
  display: none;
}